@model VotosMissTeen_v1.Models.Jurado

@{
    ViewBag.Title = "Details";
}
<style>
    .container .body-content {
        display: flex;
        align-items: center;
        flex-direction: column;
    }
</style>

<h2>Details</h2>

<div>
    <h4>Jurado</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Username)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Username)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Lugar)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Lugar)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>

@if (Model.Id == 1)
{
    <table class="table">
        <tr>
            <th>Partcipante</th>
            <th>Puntaje</th>
        </tr>
        @foreach (var item in Model.Votos.Where(x => x.FaseId == 1))
        {
            <tr>
                <th>@item.Participante.Nombre</th>
                <th>@item.Puntuacion</th>
            </tr>
        }
    </table> }
else
{

    for (int i = 2; i < 4; i++)
    {
        <hr />
        <h2>Fase @i</h2>
        <table class="table">
            <tr>
                <th>Partcipante</th>
                <th>Puntaje</th>
            </tr>
            @foreach (var item in Model.Votos.Where(x => x.FaseId == i))
            {
                <tr>
                    <th>@item.Participante.Nombre</th>
                    <th>@item.Puntuacion</th>
                </tr>
            }
        </table>
    }
}
