@model VotosMissTeen_v1.Models.Votos

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Votos</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Puntuacion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Puntuacion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Jurado.Nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Jurado.Nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Fase.Foto)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Fase.Foto)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Participante.Foto)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Participante.Foto)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
